@charset "UTF-8";
body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* TABLET/DESKTOP NAVIGATION */
@media only screen and (min-width: 601px) {
    div.smallMenuLink {display: none;}
    nav#smallNavArea {display: none;}
    #primaryNavigation {display: flex;}
    nav {background-color: #EC1C24; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
    #primaryNavigation {
        margin-left: 4%;
        list-style-type: none;
        padding: 0;
    }

    #primaryNavigation li a {
        display: block;
        font-size: 1em;
        padding: 1em 2em 1em 0;
        color: rgba(255,255,255, 0.9);
        text-transform: uppercase;
        text-decoration: none;
    }

    #primaryNavigation li a:hover {
        color: black;
    }
}

/* PHONE NAVIGATION STYLING */
@media only screen and (max-width: 600px) {
    #smallNavArea{display: block}
    #primaryNavigation{display: none;}

    #smallNavArea {
        height: 100vh;
        background-color: #adadad;
    }
    #smallNavArea ul {padding: .5em 0;}
    #smallNavArea ul li {list-style: none;}
    #smallNavArea ul li a {
        display: block;
        list-style: none;
        margin: .4em 2%;
        padding: .6rem 0;
        text-align: center;
        text-decoration: none;
        color: #FFF;
        background-color: rgba(0,0,0,0.2);
    }

    .smallMenuLink {
        display: block;
        background-color: #EC1C24
    }

    .smallMenuLink a {
        display: block;
        color: #FFF;
        text-decoration: none;
        padding: .6rem;
    }
}


#heroSection {
    height: 50vh;
    width: 92%;
    margin: 2rem auto;
    display: flex;
}

#heroText {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#heroText h1 {
    font-weight: 500;
}

#heroText p {
    font-weight: 300;
    line-height: 1.5rem;
}

#heroImg {
    width: 60%;
    background-image: url('./images/rsv4.jpg');
    background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#heroText h1 {
    font-size: 7rem;
    line-height: 6rem;
}

#mainContent {
    width: 92%;
    margin: 2rem auto;
}

#mainContent h2 {
    margin-bottom: .75rem;
}

#objectives {
    margin-bottom: 2rem;
}

#bodyCopyText p {
    font-weight: 300;
}

main ul li {
    list-style-type: circle;
    margin-left: 1rem;
    font-weight: 300;
}

footer {
    background-color: #EC1C24;
    color: white;
    padding: .1rem;
    text-align: center;
    font-size: .75rem;
    margin-top: 8vh;
}