body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
}

 h1, h2, p {
     margin: 0;
 }

main {
    width: 96%;
    /* min-width: 700px; */
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    background-image: url("images/hotel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 400px;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    color: white;
}

header h1 {
    margin: 0;
    padding-top: 4vh;
    padding-left: 2%;
    font-size: 6rem;
}

header h2 {
    padding-left: 2%;
    font-size: 2rem;
}



.container {
    width: 96%;
    margin: 2% auto;
}


.buttonContainer {
    margin: 1rem 0;
}

button {
    padding: .75rem;
    width: 16rem;
    color: #636A47;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #636A47;
    margin-right: 3px;
    border-radius: 3px;
}

button:hover {
    background-color: #636A47;
    color: white;
    transition: .5s;
}



footer {
    background-color: #636A47;
    color: white;
    padding: .5rem;
    text-align: center;
    font-size: .75rem;
    margin-top: 8vh;
}


.content-container {
    display: flex;
}

.card-container {
    width: 70%;
    display:flex;
    flex-wrap: wrap;
}

.current-selection {
    width: 30%;
    background-color: gray;
    color: white;
}

.moto-card {
    width: 200px;
    padding: 5px;
}

.moto-card ul {
    list-style-type: circle;
}



.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }